.bloco-imagem {
    height: 916px;
    width: 100%;
    background:  url("../../imagens/inicio.png");
    background-size: 100% auto; 
    background-repeat: no-repeat;   
}

.imagem-logo {
    background: url(../../imagens/logo-sorelli.png);
    background-repeat: no-repeat; 
    background-size: contain;
    width: 26vw;
    height: 16vw;
    position: relative;
    top: 4.6vw;
    left: 61vw;
}

.a-melhor{
    display: block;
    width: 33vw;
    height: 20vw;
    position: relative;
    top: 13vw;
    left: 12vw;
}

