.imagem-logo {
    width: 16vw;
    height: auto;
    position: relative;
    top: 4.8vw;
    left: 62.8vw;
}

.a-melhor{
    display: block;
    width: 33vw;
    height: 20vw;
    position: relative;
    top: 16vw;
    left: 20vw;
}

.imagem-inicio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    filter:brightness(20%);
}


@media only screen and (orientation: portrait) {
    
    .a-melhor{
        width: 33vw;
        height: 20vw;
        top: 6vw;
        left: 14vw;
    }
   
}