.imagem-logo {
    width: 26vw;
    height: auto;
    position: relative;
    top: 2.3vw;
    left: 59.5vw;
}

.a-melhor{
    display: block;
    width: 33vw;
    height: 20vw;
    position: relative;
    top: 13vw;
    left: 12vw;
}

.imagem-inicio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    filter:brightness(20%);
}
