<div id="campeas" class="container-componente">
    <p class="mulish titulo">Nossas campeãs de vendas</p>

    <div class="container">
        <div class="row">
            <div class="coluna margem-negativa">
                <img class="icone" src="./images/pizza-calabresa.png">
                <p class="montserrat texto">Calabresa</p>
            </div>
            <div class="coluna margem-negativa">
                <img class="icone" src="./images/pizza-frango-cat.png">
                <p class="montserrat texto">Frango Catupiry</p>
            </div>
            <div class="coluna margem-negativa">
                <img class="icone" src="./images/pizza-queijos.png">
                <p class="montserrat texto">5 Queijos</p>
            </div>
            <div class="coluna">
                <img class="icone" src="./images/pizza-sertaneja.png">
                <p class="montserrat texto">Sertaneja</p>
            </div>
        </div>
    </div>

    <button class="botao-chamada botao">Peça a sua!</button>
</div>