* {
    color: white;
    font-size: 1vw;
}

.titulo {
    font-weight: bold;
}

.container-fluid {
    padding-top: 30px;
    margin: 0;
    background-color: black;
}

.imagem-logo {
    width: 10vw;
    height: auto;
    position: relative;
    top: 3.3vw;
    left: 44vw;
}

a {
    text-decoration: none;
}

.icone {
    height: auto;
    width: 3vw;
}

.div-icones {
    position: relative;
    top: 3vw;
}

.imagem-gplay {
    height: auto;
    width: 16vw;;
}