
#trailer {
    background: black;
}

.icone {
    height: auto;
    width: 4vw;
}

* {
    color: white; 
}

a {
    text-decoration: none;
}
.imagem-logo {
    width: 12vw;
    height: auto;
    position: relative;
    bottom: 4.4vw;
}

.imagem-gplay {
    height: auto;
    width: 16vw;;
}
.container {
    margin-bottom: 2vw;
}

.coluna {
    flex: 0 0 auto;
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    justify-content: space-evenly;
}

.titulo{
    font-size: 2vw;

}

.texto {
    font-size: 1vw;
}

@media only screen and (orientation: portrait) {
	.titulo {
		font-size: 3w;
	}
	
	.texto {
		font-size: 2vw;
	}
}