<div id="trailer" class="container-componente">
    <img src="./images/logo-sorelli.png" class="imagem-logo">
    <div class="container">
        <div class="row">
            <div class="coluna">
                <div>
                    <h5 class="mulish titulo">Horário de atendimento</h5>
                    <p class="montserrat texto">Todos os dias<br>Das 18h às 22h</p>
                    
                    <h5 class="mulish titulo">Fale com a gente</h5>
                    <p class="montserrat texto">(71) 9 9945-0506<br><a href="mailto:atendimento@pizzasorelli.com.br" class="text-white">atendimento&#64;pizzasorelli.com.br</a></p>
                </div>
            </div>
            <div class="coluna">
                <div class="div-icones">
                    <a target="_blank" href="https://www.instagram.com/pizzasorelli/"><img class="icone icone-1" src="./images/insta.png"></a>
                    <a target="_blank" href="https://wa.me/5571999450506"><img class="icone" src="./images/wpp.png"></a>
                </div>
                <img class="imagem-gplay" src="./images/google-play.png">    
            </div>
        </div>
    </div>
</div>