<img src="/logo-sorelli.png" class="imagem-logo">

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="div-horario">
                <span class="titulo">Horário de atendimento</span>
                <span>Todos os dias</span>
                <span>Das 18h às 22h</span>
            </div>

            <div class="div-fale-conosco">
                <span class="titulo">Fale com a gente</span>
                <span>(71) 9 9945-0506</span>
                <span>atendimento&#64;pizzasorelli.com.br</span>
            </div>
        </div>
        <div class="col">
            <span>testes</span>
        </div>
    </div>
</div>
