<div id="metricas" class="container-componente">
    <div class="container">
        <div class="row">
            <div class="coluna">
                <div class="quadrado quadrado-1">
                    <p class="mulish texto-grande">7</p>
                    <p class="mulish texto-pequeno">anos de história</p>
                </div>
            </div>
            <div class="coluna">
                <div class="quadrado quadrado-2">
                    <p class="mulish texto-grande">8.000+</p>
                    <p class="mulish texto-pequeno">clientes cadastrados</p>
                </div>
            </div>
            <div class="coluna">
                <div class="quadrado quadrado-3">
                    <p class="mulish texto-grande">50.000+</p>
                    <p class="mulish texto-pequeno">pizzas entregues</p>
                </div>
            </div>
        </div>
    </div>

    <button class="botao-chamada botao">Faça parte!</button>
</div>