
app-autorais {
    display: block;
    width: 62vw;
    height: 72vw;
    position: relative;
    top: 0vw;
    left: 19vw;
}

app-pontos {
    display: block;
    width: 62vw;
    height: 81vw;
    position: relative;
    top: 0vw;
    left: 19vw;
}

app-trailer {
    position: relative;
    bottom: 0;
}

@media only screen and (orientation: portrait) {
    app-autorais {
        left: 11vw;
        height: 78vw;
    }
}