<app-menu class="montserrat"></app-menu>

@switch (this.paginasService.paginaAtual) {
    @case (Paginas.Home) {
        <app-home></app-home>
    }   
    @case (Paginas.TaxasDeEntrega) {
        <app-taxas-de-entrega></app-taxas-de-entrega>
    }     
    @case (Paginas.Promocoes) {
        <app-promocoes></app-promocoes>
    }    
}
<app-trailer></app-trailer>

@if (isDebug) {
    <div class="guide480"></div>
    <div class="guide624"></div>
    <div class="guide768"></div>
    <div class="guide896"></div>
    <div class="guide1024"></div>
    
    <div class="guide-mobile-1"></div>
    <div class="guide-mobile-2"></div>
    <div class="guide-mobile-3"></div>
    <div class="guide-mobile-4"></div>
    <div class="guide-mobile-5"></div>
}