<div class="fundo">
  <div class="tabela-container">
    <table>
      <thead>
        <tr>
          <th colspan="2" class="tabela-header titulo">Taxas de entrega</th>
        </tr>
        <tr>
          <th class="bairro titulo">Bairro</th>
          <th class="valor titulo">Valor</th>
        </tr>
      </thead>
      <tbody>
        @for (taxa of taxas; track $index) {
          <tr>
              <td class="bairro texto">{{ taxa.bairro }}</td>
              <td class="valor texto">{{ taxa.valor }}</td>
          </tr>
      }
      </tbody>
    </table>
  </div>
</div>
