.imagem-fundo {
  position: absolute;
  top: -15vw;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  filter: brightness(20%);
}

.conteudo {
  margin-top: 16vw;
  margin-bottom: 7.9vw;
}

.imagem-estrelas {
  width: 11vw;
  height: auto;
}

.imagem-moldura {
  width: 16vw;
  height: auto;
  margin-bottom: 3vw;
  top: 2vw;
  position: relative;
}

p {
  text-align: center;
}

p.titulo {
  color: white;
  margin-top: 0.8vw;
  margin-bottom: 0.8vw;
}

.botao {
  background-color: #ffffff;
  color: #000000;
  width: 15vw;
  margin-top: 1.2vw;
}

swiper-container {
  width: 35vw;
}

.texto-icone {
  color: white;
  font-size: 6.5vw;
  font-weight: 800;
  position: absolute;
  top: -2vw;
  left: 6.5vw;
}

.review {
  position: absolute;
  top: 2.1vw;
  height: 22.2vw;
  word-wrap: break-word;
  width: 16vw;
  font-size: 1vw;
  padding: 0 1vw 0 1vw;
  line-height: 1.5vw;
  overflow: hidden;
  margin-bottom: 0;
  align-content: center;
}

.container-swiper {
  position: relative;
  left: 0.8vw;
  margin-top: -0.5vw;
}

p {
  color: white;
}

.swiper-button {
  border-width: 0 !important;
  border-style: none !important;
  border-color: initial !important;
  border-image: initial !important;
  background-color: transparent !important;
}

.swiper-button-next {
  position: absolute;
  right: -2.5vw;
  top: 12.5vw;
}

.swiper-button-prev {
  position: absolute;
  left: -4vw;
  top: 12.5vw;
}

.container {
  margin-bottom: 2vw;
}

@media only screen and (orientation: portrait) {
  .botao {
    width: 37vw;
  }

  .conteudo {
    margin-top: 23vw;
    margin-bottom: 8vw;
  }

  .imagem-estrelas {
    width: 25vw;
  }

  .imagem-moldura {
    width: 32vw;
  }

  swiper-container {
    width: 70vw;
  }

  .review {
    top: 6vw;
    height: 30vw;
    width: 32vw;
    font-size: 3vw;
  }

  .texto-icone {
    font-size: 14.1vw;
    top: -5vw;
    left: 13.5vw;
  }

  .swiper-button-next {
    right: -5.5vw;
    top: 34vw;
  }

  .swiper-button-prev {
    left: -8vw;
    top: 34vw;
  }

  .imagem-seta {
    height: auto;
    width: 5vw;
  }

  .imagem-fundo {
    top: -10vw;
  }
}
