<div [class.esmaecido]="menuValue"></div>
<div class="menu-container">
    <div class="menu-icon" (click)="toggleMenu()">
        <i class="bi bi-list icone-hamb"></i>
    </div>
    <div class="app-navbar" [class.mobile_menu]="menuValue">
        <div class="menu-icon-close" (click)="toggleMenu()">
            <i class="bi bi-x"></i>
        </div>
        <div class="header-menu-mobile visivel-mobile">
            <div class="div-logo-info">
                <img src="{{this.datas.retornaLogoAtual()}}" class="imagem-logo">
                <p class="montserrat texto text-white">(71) 9 9945-0506<br>atendimento&#64;pizzasorelli.com.br</p>
            </div>
        </div>
        <ul>
            @for (item of itensMenu; track $index) {
                <li>
                    <a href="{{obterLink(item)}}" target="{{item == 'Contato' || item == 'Cardápio' ? '_blank' : '_self'}}" class="botao-{{$index+1}}" (click)="mudarPagina(item)">
                        {{item}}
                    </a>
                </li>
            }
        </ul>

        <hr class="visivel-mobile">

        <ul class="visivel-mobile">
            <li><a href="" target="_blank">Compartilhe</a></li>
            <li><a href="" target="_blank">Deixe seu feedback</a></li>
        </ul>

    </div>
</div>
