<div [class.esmaecido]="menuValue"></div>
<div class="menu-container">
    <div class="menu-icon" (click)="toggleMenu()">
        <i class="bi bi-list"></i>
    </div>
    <div class="app-navbar" [class.mobile_menu]="menuValue">
        <div class="menu-icon-close" (click)="toggleMenu()">
            <i class="bi bi-x"></i>
        </div>
        <ul>
            @for (item of itensMenu; track $index) {
                <li>
                    <a href="{{ item == 'Contato' ? '#trailer' : '#' }}" class="botao-{{$index+1}}" (click)="mudarPagina(item)">
                        {{item}}
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
