.imagem-pizzas {
    width: 40vw;
    height: auto;
    margin-bottom: -12vw;
}

.botao {
    width: 17.1vw;
    position: relative;
}

.titulo{
    width: 58vw;
}

.texto {
    width: 34vw;
    margin-bottom: 2vw;
}

p {
    text-align: center;
}


@media only screen and (orientation: portrait) {
    .imagem-pizzas {
        width: 93vw;
        margin-bottom: -28vw;
    }

    .titulo-autorais{
        width: 78vw;
    }
    
    .texto {
        width: 86vw;
        margin-bottom: 5.5vw;
    }

    .texto-autorais {
        width: 78vw;
    }
    
    .botao {
        width: 42vw;
    }

    .titulo {
        margin-bottom: 1vw;
    }
    
}