<div id="autorais">
    <img src="./images/pizzas.png" class="imagem-pizzas">
    <p class="mulish titulo-autorais reposicionar">Sabores autorais e únicos</p>
    <p class="montserrat texto-autorais reposicionar">Além dos sabores tradicionais que todo mundo ama, nosso cardápio é recheado de sabores exclusivos que você só encontra aqui. <span class="destaque">Pizzas de nossa autoria</span> que vão te surpreender, garantimos que você nunca experimentou nada igual!</p>
    <button class="botao-chamada botao reposicionar">Confira nosso cardápio</button>
</div>