.imagem-pizzas {
    width: 62vw;
    height: auto;
    margin-bottom: -19vw;
}

.botao {
    width: 27vw;
    height: 5vw;
    position: relative;
}

.titulo{
    width: 58vw;
}

.texto {
    width: 58vw;
    margin-bottom: 3vw;
    margin-top: -1vw;
}

p {
    text-align: center;
}


@media only screen and (orientation: portrait) {
    .imagem-pizzas {
        width: 78vw;
    }

    .titulo-autorais{
        width: 78vw;
    }
    
    .texto-autorais {
        width: 78vw;
    }

    .imagem-pizzas {
        margin-bottom: -24vw;
    }
    
}