<div id="autorais" class="container-componente">
    <img src="./images/pizzas.png" class="imagem-pizzas">
    <p class="mulish titulo">Sabores autorais e únicos</p>
    <p class="montserrat texto">Além dos sabores tradicionais que todo mundo ama, nosso cardápio é recheado de sabores exclusivos que você só encontra aqui. <span class="destaque">Pizzas de nossa autoria</span> que vão te surpreender, garantimos que você nunca experimentou nada igual!</p>
    <button class="botao-chamada botao">Confira nosso cardápio</button>
</div>