<div id="insumos" class="container-componente fundo-esmaecido">
    <div class="retangulo">
        <div class="conteudo">
            <div class="container">
                <div class="row">
                    <div class="coluna">
                        <div class="div-icones fundo-esmaecido"></div>
                        <img class="icone" src="./images/catupiry.png">
                    </div>
                    <div class="coluna">
                        <div class="div-icones fundo-esmaecido"></div>
                        <img class="icone" src="./images/cream-cheese.png">
                    </div>
                </div>
            </div>
            <p class="mulish titulo">Insumos de qualidade premium</p>
            <p class="montserrat texto">Nosso compromisso é oferecer sempre o melhor, por isso utilizamos apenas insumos de altíssimo padrão de qualidade. <br/>Não usamos requeijões e cream cheeses compostos com amido e cada ingrediente é selecionado e testado com muito cuidado para garantir sabor e frescor em nossas pizzas. <br />Aqui, <span class="destaque">qualidade é nossa prioridade.</span></p>
            
            <button class="botao-chamada botao">Experimente</button>    
        </div>
    </div>
</div>