<div id="confianca" class="container-componente">
    <img class="imagem-confianca" src="./images/confianca.png" alt="">
    <p class="mulish titulo">Qualidade e confiança</p>
    <p class="montserrat texto">Cada pizza que sai da nossa cozinha passa por rigorosos processos e controle de qualidade, desde a escolha dos nossos insumos até a capacitação do nosso time. Somos muito felizes por ter conquistado a confiança de tantos clientes fidelizados, mantendo sempre o <span class="destaque">padrão Sorelli de qualidade</span>!</p>
    <button class="botao-chamada botao">Conheça a gente</button>
</div>