app-trailer {
  position: relative;
  bottom: 0;
}

app-avaliacoes {
  position: relative;
}

app-autorais {
  display: block;
  margin-top: 11vw;
}

app-metricas {
  display: block;
  padding-top: 8vw;
  padding-bottom: 11vw;
  background: white;
}

app-campeas {
  display: block;
  margin-bottom: 8vw;
}

app-pontos {
  display: block;
  padding-bottom: 8vw;
  padding-top: 7.5vw;
  margin-bottom: 8vw;
  margin-top: 8vw;
}

app-confianca {
  display: block;
  margin-bottom: 10vw;
}

@media only screen and (orientation: portrait) {
  app-metricas {
    padding-top: 15vw;
    padding-bottom: 15vw;
  }

  app-pontos {
    margin-top: 15vw;
    padding-top: 12.5vw;
    margin-bottom: 15vw;
    padding-bottom: 15vw;
  }
  
  app-campeas {
    margin-bottom: 15vw;
  }

  app-autorais {
    margin-top: 20.5vw;
  }

  app-confianca {
    margin-bottom: 23.2vw;
  }
}
