
.imagem-a-melhor{
    width: 24vw;
    height: auto;
}

.botao {
    margin-top: 1.5vw;
    width: 10.5vw;
    position: relative;
    left: 0.6vw;
}


@media only screen and (orientation: portrait) {

    .imagem-a-melhor{
        width: 40vw;
    }

    .botao {
        margin-top: 2vw;
        width: 25vw;
        height: 7vw;
    }
}