
p {
    text-align: center;
    margin-bottom: 0 !important;
}

.coluna {
    flex: 0 0 auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    justify-content: center;
}

.icone-pontos {
    width: 6.3vw;
    height: auto;
    margin-bottom: 1vw;
}

.botao {
    width: 15.3vw;
}

.container {
    margin-top: 1.2vw;
    margin-bottom: 2.2vw;
}

.retangulo-branco {
    height: 18.2vw;
    width: 12.4vw;
    background: white;
    border-radius: 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (orientation: portrait) {
    .coluna {
        flex: 0 0 auto;
        width: 100%;
    }

    .texto {
        max-width: 36.6vw;
        margin-top: 1vw;
    }
    
    .texto-menor {
        max-width: 30vw;
    }

    .botao {
        width: 43vw;
        height: 7vw;
    }
    
}