<div id="pontos" class="container-componente">
    <p class="mulish titulo">Você está no lugar certo!</p>

    <div class="container">
        <div class="row">
            <div class="coluna pontos-acumular">
                <div class="retangulo-branco">
                    <img class="icone-pontos" src="./images/pizza.png">
                    <p class="montserrat texto">Pedidos feitos pelos nossos <span class="destaque">site</span> e <span class="destaque">APPs próprios</span> acumulam pontos fidelidade<br/> na sua conta</p>
                </div>
            </div>
            <div class="coluna pontos-convertidos">
                <div class="retangulo-branco">
                    <img class="icone-pontos" src="./images/pontos.png">
                    <p class="montserrat texto">Cada ponto<br/> acumulado é <br/>convertido em <span class="destaque">descontos</span></p>
                </div>
            </div>
            <div class="coluna pontos-aplicar">
                <div class="retangulo-branco">
                    <img class="icone-pontos" src="./images/desconto.png">
                    <p class="montserrat texto">Você pode aplicá-los diretamento no seu carrinho, podendo chegar em até <span class="destaque"><br/>100% OFF</span></p>
                </div>
            </div>
        </div>
    </div>

    <button class="botao-chamada botao">Comece a acumular</button>
</div>
