<div id="pontos">
    <p class="mulish titulo">Você esta no lugar certo!</p>

    <div class="container">
        <div class="row">
            <div class="coluna pontos-acumular">
                <img src="./images/pizza.png" alt="">
            </div>
            <div class="coluna pontos-convertidos">
                <img src="./images/pontos.png" alt="">
            </div>
            <div class="coluna pontos-aplicar">
                <img src="./images/desconto.png" alt="">
            </div>
        </div>
    </div>
</div>
