<div id="pontos" class="container-componente">
    <p class="mulish titulo">Você está no lugar certo!</p>

    <div class="container">
        <div class="row">
            <div class="coluna pontos-acumular">
                <img class="icone-pontos" src="./images/pizza.png">
                <p class="montserrat texto">Pedidos feitos pelos nossos <span class="destaque">site</span> e <span class="destaque">APPs próprios</span> acumulam pontos fidelidade na sua conta.</p>
            </div>
            <div class="coluna pontos-convertidos">
                <img class="icone-pontos" src="./images/pontos.png">
                <p class="montserrat texto texto-menor">Cada ponto acumulado é convertido em <span class="destaque">descontos</span></p>
            </div>
            <div class="coluna pontos-aplicar">
                <img class="icone-pontos" src="./images/desconto.png">
                <p class="montserrat texto">Você pode aplicá-los diretamento no seu carrinho, podendo chegar em até <span class="destaque">100% OFF</span></p>
            </div>
        </div>
    </div>

    <button class="botao-chamada botao">Comece a acumular</button>
</div>
