.titulo {
    font-weight: 700;
    font-size: 3vw;
}

.texto {
    font-size: 1.7vw;
    font-weight: 400;
}

#pontos {
    position: relative;
    top: 7vw;
} 

.container-pontos {
    display: flex;

}

.coluna {
    flex: 0 0 auto;
    width: 25%;
}

@media only screen and (orientation: portrait) {
    .coluna {
        flex: 0 0 auto;
        width: 100%;
    }
}